body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

.tooltip-form {
    background-color: #F5F5F5;
    width: 50%;
    float: left;
    margin: 50px;
    padding: 45px;
    border-radius: 23px;
}

.preview {
    width: 30%;
    float: right;

}

label{
display: flex;
margin-bottom: 6px;
margin-top: 12px;
font-size: 17px;
font-style: normal;
font-weight:600;
line-height: 18px; 
}

.preview img{
    position: absolute;
    right: 0px;
    top: 30px;
    width: 42%;
    height: auto;
}